<!DOCTYPE html>
<html lang="zxx">

<head>

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/bootstrap.min.css') }}">

<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/meanmenu.min.css') }}" />

<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/boxicons.min.css') }}" />

<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/flaticon.css') }}" />

<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/magnific-popup.min.css') }}" />

<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/animate.min.css') }}" />

<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/owl.carousel.min.css') }}" />

<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/style.css') }}" />

<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/dark.css') }}" />

<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/responsive.css') }}" />

<link rel="icon" type="image/png" href="{{ url_for('static', filename='assets/images/favicon-removebg-preview.png') }}" />

<title>CardioHealth Provisions</title>
</head>
<body>

<div class="loader-content">
<div class="d-table">
<div class="d-table-cell">
<div class="sk-folding-cube">
<div class="sk-cube1 sk-cube"></div>
<div class="sk-cube2 sk-cube"></div>
<div class="sk-cube4 sk-cube"></div>
<div class="sk-cube3 sk-cube"></div>
</div>
</div>
</div>
</div>


<header class="header-area">
<div class="container">
<div class="row align-items-center">
<div class="col-lg-2 col-sm-0">
<div class="logo">
    <a href="/">
        <div  style="display: flex;justify-content: center;align-items: center;">
        <img src="{{ url_for('static', filename='assets/images/new_logo.png') }}" alt="logo"  style="max-width: 60%; height: 50%;"/>
        <h2 style="margin-top:7px;">CardioHealth</h2>
    </div>
    </a>
</div>
</div>
</div>
</div>
</header>


<div class="header-area">
<div class="mobile-nav">
<a href="/" class="logo">
<img src="{{ url_for('static', filename='assets/images/new_logo.png') }}" alt="logo" />
</a>
</div>
<div class="main-nav">
<div class="container">
<nav class="navbar navbar-expand-md navbar-light">
<div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent">
<ul class="navbar-nav text-center">
<li class="nav-item">
<a href="/" class="nav-link">HOME</a>
</li>
<li class="nav-item">
<a href="/about" class="nav-link">ABOUT</a>
</li>
<li class="nav-item">
<a href="/prognosis" class="nav-link">PROGNOSIS</a>
</li>
<li class="nav-item">
    <a href="/diet" class="nav-link">DIET</a>
</li>
<li class="nav-item">
    <a href="/exercise" class="nav-link">Exercise</a>
  </li>
<li class="nav-item">
<a href="/cardioguide" class="nav-link">CARDIO GUIDE</a>
</li>
<li class="nav-item">
<a href="/blog" class="nav-link active">BLOG</a>
</li>
<li class="nav-item">
<a href="/contact" class="nav-link">CONTACT</a>
</li>
</ul>
</div>
<div class="nav-right">
</div>
<div class="nav-btn">
<a href="/prognosis" class="box-btn">Get Started</a>
</div>
</nav>
</div>
</div>
</div>


<div class="page-title-area">
<div class="container">
<div class="page-title-content">
<h2>Blog</h2>
<ul>
<li>
<a href="/">
Home
</a>
</li>
<li class="active">Blog</li>
</ul>
</div>
</div>
<div class="page-shape">
<div class="shape1">
<img src="{{ url_for('static', filename='assets/images/shape/1.png') }}" alt="shape" />
</div>
<div class="shape3">
<img src="{{ url_for('static', filename='assets/images/shape/3.png') }}" alt="shape" />
</div>
<div class="shape4">
<img src="{{ url_for('static', filename='assets/images/shape/4.png') }}" alt="shape" />
</div>
<div class="shape5">
<img src="{{ url_for('static', filename='assets/images/shape/5.png') }}" alt="shape" />
</div>
<div class="shape6">
<img src="{{ url_for('static', filename='assets/images/shape/6.png') }}" alt="shape" />
</div>
</div>
</div>


<section class="home-blog-area ptb-100">
<div class="container">
<div class="section-title">
<span>Blog Post</span>
<h2>Our Regular Blogs</h2>
</div>
<div class="row">


<div class="col-lg-4 col-md-6">
    <div class="single-blog">
    <div class="blog-img">
    <a href="https://www.abiomed.com/patients-and-caregivers/blog/heart-healthy-exercises">
    <img src="{{ url_for('static', filename='assets/images/blog/exercises.jpg') }}" alt="blog">
    </a>
    </div>
    <div class="content">
    <ul>
    <li>
    <a href="https://www.abiomed.com/about-us/our-story">By Abiomed</a>
    </li>
    </ul>
    <a href="https://www.abiomed.com/patients-and-caregivers/blog/heart-healthy-exercises">
    <h3>Heart Healthy Exercises</h3>
    </a>
    <p>Resistance training builds muscle, aerobic exercises boost circulation, while stretching aids overall fitness for heart health and longevity</p>
    <a href="https://www.abiomed.com/patients-and-caregivers/blog/heart-healthy-exercises" class="line-bnt">Read More</a>
    </div>
    </div>
</div>
    

<div class="col-lg-4 col-md-6">
    <div class="single-blog">
    <div class="blog-img">
    <a href="https://www.abiomed.com/patients-and-caregivers/blog/how-the-heart-works">
    <img src="{{ url_for('static', filename='assets/images/blog/heart1.png') }}" alt="blog">
    </a>
    </div>
    <div class="content">
    <ul>
    <li>
    <a href="https://www.abiomed.com/about-us/our-story">By Abiomed</a>
    </li>
    </ul>
    <a href="https://www.abiomed.com/patients-and-caregivers/blog/how-the-heart-works">
    <h3>Heart Anatomy & Function</h3>
    </a>
    <p>The heart, with four chambers, pumps blood through the body following electrical signals, maintaining steady circulation and rhythm.</p>
    <a href="https://www.abiomed.com/patients-and-caregivers/blog/how-the-heart-works" class="line-bnt">Read More</a>
    </div>
    </div>
</div>
    

    <div class="col-lg-4 col-md-6">
        <div class="single-blog">
        <div class="blog-img">
        <a href="https://www.abiomed.com/patients-and-caregivers/blog/how-tobacco-affects-the-heart-and-blood-vessels">
        <img src="{{ url_for('static', filename='assets/images/blog/to.jpg') }}" alt="blog">
        </a>
        </div>
        <div class="content">
        <ul>
        <li>
        <a href="https://www.abiomed.com/about-us/our-story">By Abiomed</a>
        </li>
        </ul>
        <a href="https://www.abiomed.com/patients-and-caregivers/blog/how-tobacco-affects-the-heart-and-blood-vessels">
        <h3>Tobacco's Cardiovascular Effects</h3>
        </a>
        <p>Tobacco's Impact on Heart & Vessels. Learn how smoking affects cardiovascular health for informed lifestyle choices.</p>
        <a href="https://www.abiomed.com/patients-and-caregivers/blog/how-tobacco-affects-the-heart-and-blood-vessels" class="line-bnt">Read More</a>
        </div>
        </div>
    </div>
    
    <div class="col-lg-4 col-md-6 offset-md-3 offset-lg-0">
    <div class="single-blog">
    <div class="blog-img">
    <a href="https://www.abiomed.com/patients-and-caregivers/blog/what-is-a-heart-healthy-diet">
    <img src="{{ url_for('static', filename='assets/images/blog/diet2.jpg') }}" alt="blog">
    </a>
    </div>
    <div class="content">
    <ul>
    <li>
    <a href="https://www.abiomed.com/about-us/our-story">By Abiomed</a>
    </li>
    </ul>
    <a href="https://www.abiomed.com/patients-and-caregivers/blog/what-is-a-heart-healthy-diet" class="line-bnt">
    <h3>Healthy Diet</h3>
    </a>
    <p>Eating for heart health involves fruits, veggies, whole grains, lean proteins, limited red meat, and consulting your physician beforehand.</p>
    <a href="https://www.abiomed.com/patients-and-caregivers/blog/what-is-a-heart-healthy-diet" class="line-bnt">Read More</a>
    </div>
    </div>
</div>
    
<div class="col-lg-4 col-md-6 offset-md-3 offset-lg-0">
    <div class="single-blog">
    <div class="blog-img">
    <a href="https://www.aware.in/post/indians-heart-attack-risks">
    <img src="{{ url_for('static', filename='assets/images/blog/indian.jpg') }}" alt="blog">
    </a>
    </div>
    <div class="content">
    <ul>
    <!-- <li>
    10 April 2020
    </li> -->
    <li>
    <a href="https://www.aware.in/about-aware">By Aware</a>
    </li>
    </ul>
    <a href="https://www.aware.in/post/indians-heart-attack-risks" class="line-bnt">
    <h3>Heart Attack Risk in Indians</h3>
    </a>
    <p>Explore India's high heart disease rates & why prevention matters. Uncover causes & preventive measures for a healthier life.</p>
    <a href="https://www.aware.in/post/indians-heart-attack-risks" class="line-bnt">Read More</a>
    </div>
    </div>
</div>

<div class="col-lg-4 col-md-6 offset-md-3 offset-lg-0">
    <div class="single-blog">
    <div class="blog-img">
    <a href="https://www.cedars-sinai.org/blog/heart-attack-cardiac-arrest-and-heart-failure.html">
    <img src="{{ url_for('static', filename='assets/images/blog/failure.jpg') }}" alt="blog">
    </a>
    </div>
    <div class="content">
    <ul>
    <!-- <li>
    10 April 2020
    </li> -->
    <li>
    <a href="https://www.cedars-sinai.org/about.html">By Cedars Sinai</a>
    </li>
    </ul>
    <a href="https://www.cedars-sinai.org/blog/heart-attack-cardiac-arrest-and-heart-failure.html" class="line-bnt">
    <h3>Heart: Attack, Arrest, Failure</h3>
    </a>
    <p>Learn distinctions: Heart Attack, Cardiac Arrest, Heart Failure. Navigate heart health effectively. Unravel their differences for better understanding.</p>
    <a href="https://www.cedars-sinai.org/blog/heart-attack-cardiac-arrest-and-heart-failure.html" class="line-bnt">Read More</a>
    </div>
    </div>
</div>

<div class="col-lg-4 col-md-6 offset-md-3 offset-lg-0">
    <div class="single-blog">
    <div class="blog-img">
    <a href="https://www.maxhealthcare.in/blogs/cardiovascular-disease-in-women">
    <img src="{{ url_for('static', filename='assets/images/blog/womens_heart.png') }}" alt="blog">
    </a>
    </div>
    <div class="content">
    <ul>
    <!-- <li>
    10 April 2020
    </li> -->
    <li>
    <a href="https://www.maxhealthcare.in/about-us">By Max HealthCare</a>
    </li>
    </ul>
    <a href="https://www.maxhealthcare.in/blogs/cardiovascular-disease-in-women" class="line-bnt">
    <h3>Shielding Women's Heart Health</h3>
    </a>
    <p>Decode the Silent Threat: Cardiovascular Disease in Women. Discover prevention strategies and insights for optimal heart health.</p>
    <a href="https://www.maxhealthcare.in/blogs/cardiovascular-disease-in-women" class="line-bnt">Read More</a>
    </div>
    </div>
</div>

<div class="col-lg-4 col-md-6 offset-md-3 offset-lg-0">
    <div class="single-blog">
    <div class="blog-img">
    <a href="https://www.maxhealthcare.in/blogs/dont-ignore-warning-signs-heart-attacks">
    <img src="{{ url_for('static', filename='assets/images/blog/warn.jpg') }}" alt="blog">
    </a>
    </div>
    <div class="content">
    <ul>
    <!-- <li>
    10 April 2020
    </li> -->
    <li>
    <a href="https://www.maxhealthcare.in/about-us">By Max HealthCare</a>
    </li>
    </ul>
    <a href="https://www.maxhealthcare.in/blogs/dont-ignore-warning-signs-heart-attacks" class="line-bnt">
    <h3>React to Heart Alarms</h3>
    </a>
    <p>Recognize Heart Attack Signs. Urgent awareness can save lives. Learn symptoms, act promptly for crucial response and better outcomes.</p>
    <a href="https://www.maxhealthcare.in/blogs/dont-ignore-warning-signs-heart-attacks" class="line-bnt">Read More</a>
    </div>
    </div>
</div>

<div class="col-lg-12">
<div class="page-navigation-area">
<nav aria-label="Page navigation example text-center">
<ul class="pagination">
</ul>
</nav>
</div>
</div>
</div>
</div>
</section>


<footer class="footer-area pt-100">
<div class="container">
<div class="row">
<div class="col-lg-4 col-md-6">
<div class="content">
<div class="logo">
<a href="/"><img src="{{ url_for('static', filename='assets/images/new_logo.png') }}" alt="logo" /></a>
</div>
</div>
</div>
<div class="col-lg-3 col-md-6">
<div class="content ml-15">
<h3>Our Services</h3>
<ul class="footer-list">
    <li><a> Health Assessments</a></li>
    <li><a> Diet Plans</a></li>
    <li><a> Exercise Routines</a></li>
    <li><a> Regular Updates</a></li>
    <li><a> Blog</a></li>
</ul>
</div>
</div>
<div class="col-lg-2 col-md-6">
<div class="content">
<h3>Quick Links</h3>
<ul class="footer-list">
<li><a href="/prognosis">Prognosis</a></li>
<li><a href="/diet">Diet</a></li>
</ul>
</div>
</div>
<div class="col-lg-3 col-md-6">
<div class="content contacts">
<h3 class="ml-40">Contact</h3>
<ul class="footer-list foot-social">
<li><i class="bx bxs-envelope"></i><a href="/contact"> Contact</a></li>
<li><i class="bx bxs-map"></i><a href="https://srkrec.edu.in/"> SRKR Engineering College, Bhimavaram, Andhra Pradesh</a></li>
</ul>
</div>
</div>
</div>
</div>
<div class="copy-area">
<div class="container">
<div class="row">
<div class="col-lg-6">
<ul class="menu">
<li><a href="/">HOME</a></li>
<li><a href="/about">ABOUT</a></li>
<li><a href="/prognosis">PROGNOSIS</a></li>
<li><a href="/diet">DIET</a></li>
<li><a href="/cardioguide">CARDIO GUIDE</a></li>
<li><a href="/blog">BLOG</a></li>
<li><a href="/contact">CONTACT</a></li>
</ul>
</div>
<div class="col-lg-6">
<p class="right">
Copyright @2023 CardioHealth Provisions.
</p>
</div>
</div>
</div>
</div>
</footer>


<div class="go-top">
<i class="bx bx-chevrons-up"></i>
<i class="bx bx-chevrons-up"></i>
</div>


<script src="{{ url_for('static', filename='assets/js/jquery.min.js') }}"></script>

<script src="{{ url_for('static', filename='assets/js/bootstrap.bundle.min.js') }}"></script>

<script src="{{ url_for('static', filename='assets/js/meanmenu.min.js') }}"></script>

<script src="{{ url_for('static', filename='assets/js/magnific-popup.min.js') }}"></script>

<script src="{{ url_for('static', filename='assets/js/owl.carousel.min.js') }}"></script>

<script src="{{ url_for('static', filename='assets/js/wow.min.js') }}"></script>

<script src="{{ url_for('static', filename='assets/js/isotope.pkgd.min.js') }}"></script>

<script src="{{ url_for('static', filename='assets/js/ajaxchimp.min.js') }}"></script>

<script src="{{ url_for('static', filename='assets/js/form-validator.min.js') }}"></script>

<script src="{{ url_for('static', filename='assets/js/contact-form-script.js') }}"></script>

<script src="{{ url_for('static', filename='assets/js/main.js') }}"></script>
</body>

</html>