<!DOCTYPE html>
<html lang="zxx">

<head>

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/bootstrap.min.css') }}">

<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/meanmenu.min.css') }}" />

<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/boxicons.min.css') }}" />

<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/flaticon.css') }}" />

<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/magnific-popup.min.css') }}" />

<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/animate.min.css') }}" />

<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/owl.carousel.min.css') }}" />

<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/style.css') }}" />

<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/dark.css') }}" />

<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/responsive.css') }}" />

<link rel="icon" type="image/png" href="{{ url_for('static', filename='assets/images/favicon-removebg-preview.png') }}" />

<title>CardioHealth Provisions</title>
</head>
<body>

<div class="loader-content">
<div class="d-table">
<div class="d-table-cell">
<div class="sk-folding-cube">
<div class="sk-cube1 sk-cube"></div>
<div class="sk-cube2 sk-cube"></div>
<div class="sk-cube4 sk-cube"></div>
<div class="sk-cube3 sk-cube"></div>
</div>
</div>
</div>
</div>


<header class="header-area">
<div class="container">
<div class="row align-items-center">
<div class="col-lg-2 col-sm-0">
<div class="logo">
<a href="/">
    <div  style="display: flex;justify-content: center;align-items: center;">
    <img src="{{ url_for('static', filename='assets/images/new_logo.png') }}" alt="logo"  style="max-width: 60%; height: 50%;"/>
    <h2 style="margin-top:7px;">CardioHealth</h2>
</div>
</a>
</div>
</div>
<div class="col-lg-8 col-sm-8 text-right pr-0">
<div class="header-content-right">
</ul>
</div>
</div>
</div>
</div>
</header>

<div class="header-area">
<div class="mobile-nav">
<a href="/" class="logo">
<img src="{{ url_for('static', filename='assets/images/new_logo.png') }}" alt="logo" />
</a>
</div>
<div class="main-nav">
<div class="container">
<nav class="navbar navbar-expand-md navbar-light">
<div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent">
<ul class="navbar-nav text-center">
<li class="nav-item">
<a href="/" class="nav-link">HOME</a>
</li>
<li class="nav-item">
<a href="/about" class="nav-link">ABOUT</a>
</li>
<li class="nav-item">
<a href="/prognosis" class="nav-link">PROGNOSIS</a>
</li>
<li class="nav-item">
    <a href="/diet" class="nav-link">DIET</a>
</li>
<li class="nav-item">
  <a href="/exercise" class="nav-link active">Exercise</a>
</li>
<li class="nav-item">
<a href="/cardioguide" class="nav-link">CARDIO GUIDE</a>
</li>
<li class="nav-item">
<a href="/blog" class="nav-link">BLOG</a>
</li>

<li class="nav-item">
<a href="#" class="nav-link dropdown">PAGES</a>
<ul class="dropdown-menu">
<li class="nav-item">
<li class="nav-item">
<a href="/contact" class="nav-link">CONTACT </a>
</li>
</ul>
</div>
<div class="nav-right">
</div>
<div class="nav-btn">
<a href="/prognosis" class="box-btn">Get Started</a>
</div>
</nav>
</div>
</div>
</div>


<div class="page-title-area">
<div class="container">
<div class="page-title-content">
<h2>Exercise</h2>
<ul>
<li>
<a href="/">
Home
</a>
</li>
<li class="active">Exercise</li>
</ul>
</div>
</div>
<div class="page-shape">
<div class="shape1">
<img src="{{ url_for('static', filename='assets/images/shape/1.png') }}" alt="shape" />
</div>
<div class="shape3">
<img src="{{ url_for('static', filename='assets/images/shape/3.png') }}" alt="shape" />
</div>
<div class="shape4">
<img src="{{ url_for('static', filename='assets/images/shape/4.png') }}" alt="shape" />
</div>
<div class="shape5">
<img src="{{ url_for('static', filename='assets/images/shape/5.png') }}" alt="shape" />
</div>
<div class="shape6">
<img src="{{ url_for('static', filename='assets/images/shape/6.png') }}" alt="shape" />
</div>
</div>
</div>
  
  
  <section class="exercise-info">
    <div class="container">
      <div class="row">
        <div class="col-lg-12" style="text-align:center;">
            <br><br><br>
            <h1>3 Exercises for a Healthy Heart</h1>
            <p>Join a group of seniors practicing yoga in the park for improved heart health. Experts recommend three types of exercises to boost your cardiovascular health and overall well-being.</p><br>
        </div>
        <div class="col-lg-12">
            <div class="image-container">
                <img src="\static\assets\images\exercise\yoga_in_park.jpg" alt="Yoga in the Park" class="exercise-image" width="550" height="auto">
            </div>
        </div>
    </div>

        <div class="row">
            <div class="col-lg-6">
              <br><br><h4>Aerobic Exercises</h4>
                <div class="exercise-paragraph">
                    <p>Aerobic exercise involves moving your body's largest muscles, like those in your arms and legs, in a way that makes you warm and slightly out of breath. Examples include walking, cycling, swimming, and even everyday activities like housework, gardening, or playing with children.</p>
                    <p>Aerobic exercise helps your heart and circulatory system work better, making daily tasks easier without leaving you tired or breathless. It also improves emotional well-being and sleep quality.</p>
                    <p>It's recommended to aim for at least 150 minutes per week of moderate-intensity aerobic exercise. Start gradually if you're new to exercise, building up from 5 to 10 minutes daily, and listen to your body.</p>
                    <p>Everyone with a heart or circulatory condition can benefit from aerobic exercise, but it's important to adjust the intensity based on your condition and fitness level. Consult with your healthcare professional before starting any new exercise regimen.</p>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="exercise-paragraph" style="margin-top: 70px;">
                  <br><br><img src="\static\assets\images\exercise\aerobic.png" alt="Aerobic Exercises" width="550" height="auto">
                </div>
            </div>
        </div>

        <div class="row">
          <div class="col-lg-6">
            <div class="exercise-paragraph" style="margin-top: 10px;">
              <img src="\static\assets\images\exercise\strength_training.png" alt="Strength Training" width="550" height="auto">
            </div>
        </div>
            <div class="col-lg-6">
              <br><br><h3>Strength Training</h3>
                <div class="exercise-paragraph">
                    <p>Perform bodyweight exercises or use resistance bands to build muscle strength. Strong muscles support your cardiovascular system, enhance mobility, and reduce the risk of injury.</p>
                    <p>Strengthening your muscles reduces the strain on your heart and makes daily activities easier. Stronger muscles also improve your ability to perform aerobic exercises without getting too tired or breathless.</p>
                    <p>Try to incorporate resistance training into your routine two to three days a week, with at least a day of rest in between sessions. Start with exercises you can comfortably repeat 10 to 12 times, gradually increasing the challenge. Aim for two to three sets of each exercise.</p>
                    <p>Everyone can benefit from some form of strength training. However, if you have specific heart conditions or have recently undergone surgery, it's essential to consult with your healthcare professional before starting.</p>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-lg-6">
              <br><br><h3>Balance and Flexibility Exercises</h3>
                <div style="text-align: left;">
                    <p>Balance and flexibility exercises, like yoga, pilates, and tai chi, improve your ability to move smoothly and stay steady on your feet.</p>
                    <p>Flexibility exercises prevent muscles from becoming too tight, helping you move more freely and reducing the risk of pain or injury.</p>
                    <p>Balance exercises decrease the likelihood of falls.</p>
                    <p>Aim for two to three sessions of balance and flexibility exercises per week. Start gradually and hold stretches for at least 30 seconds, focusing on a "comfortable tightness" rather than pain. Remember to breathe normally during stretches.</p>
                    <p>Everyone, including those with heart or circulatory conditions, can benefit from balance and flexibility exercises. However, individuals on blood pressure medication should take extra care and move slowly when changing positions to prevent dizziness.</p>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="exercise-paragraph" style="margin-top: 0px;">
                    <img src="\static\assets\images\exercise\flexibi.png" alt="Balance and Flexibility Exercises" width="500" height="auto">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <h3>Expert Advice</h3>
                <p>Helen Alexander, a physiotherapist specializing in cardiac rehabilitation, emphasizes the importance of tailored exercise plans. Regardless of your age or existing heart condition, staying active can alleviate symptoms, enhance daily functioning, and prevent further deterioration.</p><br><br>
            </div>
        </div>



        <div class="row">
          <div class="col-lg-6">
            <br><br><h2>Discover Heart-Friendly Exercise Resources</h2>
              <div style="text-align: left;">
              <p>Explore a variety of exercise resources tailored for heart health below:</p>
              </div>
            </div>
    
              
          </div>

          <br><br>
          <div class="exercise-links" style="text-align: center;">
            <a href="https://www.who.int/news-room/fact-sheets/detail/physical-activity">Physical Activity Suggested By WHO</a>
            <a href="https://www.healthline.com/health/exercise-fitness/balance-exercises-for-seniors">11 Balance Exercises for Seniors</a>
            <a href="https://www.prevention.com/fitness/a20443104/6-ways-to-improve-your-balance/">8 Perfect Balance Exercises That Build Stability, Strength, and Flexibility, According to Experts</a>
  
          </div>
        </div>
        
        <br><br>


</section>

<style>
  .exercise-links {
      background-color: #212121;
      color: #ffffff;
      border-radius: 10px;
      padding: 20px;
      box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
      max-width: 300px;
      margin: 0 auto;
      text-align: center;
  }

  .exercise-links a {
      display: block;
      color: #bbdefb;
      text-decoration: none;
      padding: 10px;
      margin-bottom: 10px;
      border-radius: 5px;
      transition: background-color 0.3s ease;
  }
 
  .exercise-links a:hover {
      background-color: #37474f;
  } 
</style>


<style>
  .exercise-paragraph {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      text-align: left;
      margin-bottom: 20px;
  }

  .exercise-paragraph .exercise-image {
      max-width: 100px;
      height: auto;
      margin-bottom: 20px;
  }

  .image-container {
      display: flex;
      justify-content: center; /* Horizontally center the image */
      align-items: center; /* Vertically center the image */
  }
  
</style>
  
  


<footer class="footer-area pt-100">
<div class="container">
<div class="row">
<div class="col-lg-4 col-md-6">
<div class="content">
<div class="logo">
<a href="/"><img src="{{ url_for('static', filename='assets/images/new_logo.png') }}" alt="logo" /></a>
</div>
</div>
</div>
<div class="col-lg-3 col-md-6">
<div class="content ml-15">
<h3>Our Service</h3>
<ul class="footer-list">
<li><a> Health Assessments</a></li>
<li><a> Diet Plans</a></li>
<li><a> Exercise Routines</a></li>
<li><a> Regular Updates</a></li>
<li><a> Blog</a></li>
</ul>
</div>
</div>
<div class="col-lg-2 col-md-6">
<div class="content">
<h3>Quick Links</h3>
<ul class="footer-list">
<li><a href="/prognosis">Prognosis</a></li>
<li><a href="/diet">Diet</a></li>
</ul>
</div>
</div>
<div class="col-lg-3 col-md-6">
<div class="content contacts">
<h3 class="ml-40">Contact</h3>
<ul class="footer-list foot-social">
<li><i class="bx bxs-envelope"></i><a href="/contact"> Contact</a></li>
<li><i class="bx bxs-map"></i><a href="https://srkrec.edu.in/"> SRKR Engineering College, Bhimavaram, Andhra Pradesh</a></li>
</ul>
</div>
</div>
</div>
</div>
<div class="copy-area">
<div class="container">
<div class="row">
<div class="col-lg-6">
<ul class="menu">
<li><a href="/">HOME</a></li>
<li><a href="/about">ABOUT</a></li>
<li><a href="/prognosis">PROGNOSIS</a></li>
<li><a href="/diet">DIET</a></li>
<li><a href="/cardioguide">CARDIO GUIDE</a></li>
<li><a href="/blog">BLOG</a></li>
<li><a href="/contact">CONTACT</a></li>
</ul>
</div>
<div class="col-lg-6">
<p class="right">
Copyright @2023 CardioHealth Provisions.
</p>
</div>
</div>
</div>
</div>
</footer>


<div class="go-top">
<i class="bx bx-chevrons-up"></i>
<i class="bx bx-chevrons-up"></i>
</div>


<script src="{{ url_for('static', filename='assets/js/jquery.min.js') }}"></script>

<script src="{{ url_for('static', filename='assets/js/bootstrap.bundle.min.js') }}"></script>

<script src="{{ url_for('static', filename='assets/js/meanmenu.min.js') }}"></script>

<script src="{{ url_for('static', filename='assets/js/magnific-popup.min.js') }}"></script>

<script src="{{ url_for('static', filename='assets/js/owl.carousel.min.js') }}"></script>

<script src="{{ url_for('static', filename='assets/js/wow.min.js') }}"></script>

<script src="{{ url_for('static', filename='assets/js/isotope.pkgd.min.js') }}"></script>

<script src="{{ url_for('static', filename='assets/js/ajaxchimp.min.js') }}"></script>

<script src="{{ url_for('static', filename='assets/js/form-validator.min.js') }}"></script>

<script src="{{ url_for('static', filename='assets/js/contact-form-script.js') }}"></script>

<script src="{{ url_for('static', filename='assets/js/main.js') }}"></script>
</body>

</html>